.hero-section{
    padding: 20px 10px;
    /* background-image: url('/client/src/assets/hero-page-img.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .overlay{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.903);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    /* border: 2px black solid; */
}

.hero-section div:first-child{
    position: relative;
    z-index: 3;
}

.hero-section div:first-child div:first-child{
    text-align: center;
    padding: 5px 0;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.second{
    color: var(--accent-clr);
}

.cta-heading p{
    font-family: sans-serif;
    font-weight: 400;
}

/* CTA CARD */
.cta-card{
    padding: 10px;
    margin: 60px 0;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cta-card h2{
    color: var(--accent-clr);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.cta-card .phone-number-container{
    display: flex;
    justify-content: center;

    border: 2px var(--cta-div-clr) solid;
    border-radius: 5px;
     
}

.cta-card div span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.cta-card div input{
    border: none;
    outline: none;
    font-size: 20px;
    width: 85%;
    padding: 0 10px;
}

.phone-icon{
    font-size: 30px;
    border-right: 2px var(--cta-div-clr) solid;
}

.cta-card button{
    padding: 8px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-clr);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.cta-card button:active{
    background-color: black;
}


/* RESPONSIVE CODE  */
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
    .hero-section div:first-child div:first-child{
        font-size: 25px;
    }

    .hero-section div:first-child{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cta-heading p{
        font-size: 20px;
    }

    .cta-card{
        flex-direction: row;
        justify-content: space-around;
        max-width: 900px;
        gap: 20px;
        padding: 40px 40px;
    }
}