.our-services-container {
    height: 100vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

/* .our-services-container div:first-child{
} */

.our-services-container h2{
    color: var(--accent-clr);
    font-size: 20px;
    text-align: center;
}

/* RESPONSIVE CODE  */
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}