.contact-us-top {
    display: flex;
    flex-direction: column;
}

/* CONTACT US CONTAINER  */
.contact-us-page {
    margin-top: 30px;
}

.contact-us-container {
    display: flex;
    flex-direction: column;
}

.contact-us-container h1 {
    margin-bottom: 40px;
}

/* REACH US CONTAINER  */
.reach-us-container {
    padding: 0 20px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reach-us-container div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reach-us-container h1 {
    margin: 30px 0;
}

.owner-name, .phone-number-span {
    text-decoration: underline var(--accent-clr) 1px;
    text-underline-offset: 3px;
}

/* MAP  */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    width: 100%;
}

.map-container iframe {
    height: 300px;
    flex: 1 1 auto;
}

/* responsive code  */
@media (min-width: 1024px) {
    .contact-us-top {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;  /* Added to prevent excessive stretching */
        margin: 0 auto;     /* Center the container */
    }

    .contact-us-container,
    .reach-us-container {
        width: 50%;         /* Make each container take up 50% width */
        box-sizing: border-box;  /* Include padding in width calculation */
    }

    .contact-us-container{
        padding: 0 20px;  
    }

    /* -------- */
    .reach-us-container div:nth-child(2){
        line-height: 2;
    }  
    

    .reach-us-container h1 {
        margin:0;
    }

    .reach-us-container div:nth-child(2){
        margin-top: 30px;
    }
    

}