.service-page-container{
  padding-inline: 10px 10px;
}

.service-page-container .heading{
    padding: 20px 0;
}

.service-page-container .heading h1{
    text-align: center;
}  

/* service-containers */

.service-box{
  height: 300px;
  color: white;
  
  border-radius: 5px;
  overflow: hidden;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.service-box .service-name{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-align: center;
  background-color: white;
  color: black;

  font-weight: bold;
}

.service-box img{
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
