@import url('./Navbar.css');


header a{
    color: black;
    text-decoration: none;
}

.contact-info-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(226, 247, 229, 0.304);
    border-bottom: 1px solid rgb(235, 235, 235);
}

.contact-info-top div{
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: .5;
}

.left{
    background-color: transparent;
}

.mail-number{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.nav-triangle{
    flex: 1;
    height: 0px;
    width: 0px;

    display: none;
}

.icon{
    font-size: 20px;
}
.social-links{
    padding: 20px;
}
.social-links ul{
    list-style: none;
    display: flex;
}

.social-links ul li{
    padding: 0 20px;
    border-right: 1px black solid;
    
    cursor: pointer;
    font-size: 24px;
}

.social-links ul li:active{
    color: var(--accent-clr);
}

.social-links ul li:last-child{
    border: none;
}


.company-logo-container{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(238, 234, 234);

    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo-container img{
    width: 400px;
}

/* Marquee */
marquee span{
    font-weight: bold;
    color: white;
    padding: 5px 2px;
}


@media (min-width:1024px){
    .contact-info-top{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contact-info-top .icon{
        color: white;
    }

    .left{
        background-color: var(--accent-clr);
    }

    .nav-triangle{
        height: 64px;
        width: 64px;
        border-right: 32px solid white;
        border-top: 32px solid white;
        border-left: 32px solid var(--accent-clr);
        border-bottom: 32px solid var(--accent-clr);
        
        display: block;
    }

    .mail-number{
        background-color: var(--accent-clr);
        color: white;
        flex-direction: row;
        padding-top: 0px;
    }

    .mail-number div{
        width: 300px;
        padding: 22px 10px;
    }

    .social-links ul{
        margin-top: 0px;
    }

    /* company logo  */
    .company-logo-container{
    height: 100%;
    width: 100%;;
}
    .company-logo-container img{
        width: 500px;
    }


}
