/* preset  */
footer p, ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer ul li{
    cursor: pointer;
    transition:.4s cubic-bezier(0.075, 0.82, 0.165, 1) ;
    list-style: none;
    padding: 4px 0;
}

footer ul li:hover{
    color: var(--accent-clr);
}

footer h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* presets ends here  */

footer{
    background-color: black;
    color: rgb(236, 234, 234);
    padding: 50px 20px 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* BRIEF OUTRO  */
footer .brief-outro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.brief-outro p{
    line-height: 1.5;
}

.brief-outro ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.brief-outro ul li{
    background-color: rgba(255, 255, 255, 0.197);
    padding: 10px;
    border-radius: 50%;
    line-height: 0;
    font-size: 18px;

    cursor: pointer;
    transition:.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.brief-outro ul li:hover{
    background-color: rgb(0, 126, 0);
}

.brief-outro a{
    color: white;
}


/* Quick Links  */
.quick-links a{
    color:white;
}
.quick-links a:hover{
    color: var(--accent-clr);
}

.quick-links .active-link{
    color: var(--accent-clr);
}


/* our contact  */
.our-contact h2{
    margin-bottom: 15px;
}
.our-contact div div{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    line-height: .9;
    cursor: pointer;
}

.our-contact div div span{
    color: var(--accent-clr);
}

.our-contact a{
    color: white;
    text-decoration: none;
}


/* RESPONSIVE CODE */
@media (min-width: 1024px) {
    footer {
        flex-direction: row;
        /* remove flex: 1 from here */
    }
    
    /* Add these new rules */
    footer > * {  /* This targets all direct children of footer */
        flex: 1;
        min-width: 0;  /* This prevents flex items from overflowing */
    }
}