.carousel-container-main{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.carousel-container{
  width: 100%;
}

.embla {
  max-width: 48rem;
  margin: 20px 0;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 80%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  align-items: center;
  height: 300px;
  gap: 20px;
  
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 80%; 

  height: inherit;
  color: white;
  
  border-radius: 5px;
  overflow: hidden;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

/* component style  */

.embla__slide .img{
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.embla__slide .img-description{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-align: center;
  background-color: white;
  color: black;

  font-weight: bold;
}

/* IMAGES  */
.img1{
  background-image: url('../../../assets/carousel/computer_scrap.jpg');
}

.img2{
  background-image: url('../../../assets/carousel/furniture_scrap.jpg');
}

.img3{
  background-image: url('../../../assets/carousel/battery_scrap.png');
}

.img4{
  background-image: url('../../../assets/carousel/laptop_scrap.png');
}


@media (min-width:1024px){
  .carousel-container{
    /* margin-top: 30px; */
    width: 800px;
  }
  .embla__slide {
    flex: 0 0 40%; 
  }
}