.contact-infos-container{
    margin-top: 50px;
    background-color: var(--accent-clr);
    color: white;
}

.contact-info{
    padding:20px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid white;
}

.contact-info:last-child{
    border: none;
}

.contact-info span{
    font-size: 40px;
}

.contact-info h4{
    font-family: "Playfair Display", serif;
    font-size: 22px;
}

/* .contact-info p{

} */
